h2 {
  color: #6e1f1f;
  font-family: "Ubuntu", sans-serif;
}
.center {
  text-align: center;
}
.contain {
  overflow: hidden;
}
.lf {
  float: left;
  width: 50%;
}
.rg {
  float: right;
  width: 50%;
}
